Requirements

Logging meals and food

Users must be able to log their consumed meals per day, with the meals consisting of one or more food items.
Users must be able to edit or delete meals and their respectable food items.
Users must be able to see an overview of consumed meals and food items based on a selected day.
Users must be able to get a detailed overview of their daily intake, showing calories and macro- and micronutrients.
Users must be able to get a detailed overview of a selected meal, showing calories and macro- and micronutrients.
Users must be able to get a detailed overview of a selected food item, showing calories and macro- and micronutrients.
Users must be able to add custom food items to the database of food items.

Authentication

Users must be able to authenticate themselves.
All logged meals etc. must be tied to a specific user.

External requirements

The application must integrate with an external application which offers a collection of foods items.
Users must be able to search these food items and add them to their food logs.

